.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
  z-index: 100;
  // background: #111;
  // color: #fff;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-top: 16px;
    gap: 0 32px;
    transition: all 0.5s ease-in-out;
  }

  .logo {
    width: 300px;
    transition: all 0.5s ease-in-out;
  }

  .menuBox {
    position: relative;
    display: block;
    flex: 1 1 auto;

    .menu-inner {
      position: relative;
      display: flex;
      margin: 0;
      padding: 0;

      .menuItem {
        position: relative;
        display: block;
        width: 20%;
        height: 100%;
        opacity: 0;
        transform: translate(0, -100%);
        pointer-events: none;
        transition: all 0.5s ease-in-out;

        .mainLink {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          font-size: 17px;
          font-weight: 400;
          letter-spacing: 0.68px;
          line-height: 1;
          color: #333333;
          text-align: center;
          padding: 30px 0;
          transition: all 0.5s ease-in-out;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0%;
            background-color: #eacf5b;
            transition: all 0.5s ease-in-out;
          }

        }

        &:not(:last-child)::after {
          content: "";
          display: block;
          position: absolute;
          pointer-events: none;
          right: 0;
          top: 50%;
          height: 60%;
          width: 1px;
          transform: translate(0, -50%);
          background: #dddddd;
        }

        @media (min-width:1180px) {
          &:hover {
            .mainLink {
              color: #eacf5b;
            }

            .mainLink::after {
              width: 100%;
            }
          }
        }
      }
    }

    .dropDown {
      .submenu {
        display: none;
      }
    }

    &.is-open {
      opacity: 1;
      background: #9b9b9b;
    }
  }

  .rightBox {
    display: flex;

    .languageBox {
      font-size: 14px;

      .languageCurrent {
        position: relative;
        width: 70px;
        height: 77px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333333;
        background-color: #eacf5b;
        letter-spacing: 0.1px;
        opacity: 0;
        transition: all 0.5s;
        cursor: pointer;
        pointer-events: none;

        @media (min-width: 1180px) {
          &:hover {
            color: #fff;
            background-color: #333333;
          }
        }

      }
    }

    .slideMenuTrigger {
      display: none;
      position: relative;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 77px;
      flex-shrink: 0;
      background-color: #eacf5b;
      cursor: pointer;
    
    }

    .open {
      animation: slideDownAnimation 0.4s ease-in-out 0.5s both;
    }

   
  }

  @media (max-width: 1366px) {
    .header-inner {
      padding-left: 30px;
      padding-block: 0px;
      gap: 0 20px;
    }

    .logo {
      width: 230px;
    }


  }

  @media (max-width: 1180px) {
    .header-inner {
      padding-left: 30px;
      padding-block: 0px;
    }

    .logo {
      width: 230px;
    }

    .menuBox {
      display: none;
    }

    .rightBox {
      .languageBox {
        animation: slideDownAnimation 0.4s ease-in-out 0.4s both;
        .languageCurrent {
          pointer-events: auto;
          opacity: 1;
          background-color: transparent;
        }
      }

      .slideMenuTrigger {
        display: flex;

        .icon {
          width: 32px;
          height: 32px;
          color: #333333;
        }
      }
    }
  }
  
  @keyframes slideDownAnimation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

header.is-scrolled {
  background-color: #fff;

  .header-inner {
    padding-left: 30px;
    padding-block: 0px;
  }

  .logo {
    width: 230px;
  }

  .menuBox {
    .menu-inner {
      .menuItem {
        opacity: 1;
        transform: translate(0, 0);
        pointer-events: auto;
      }

      @for $i from 1 through 5 {
        .menuItem:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s) + 0.2s;
        }
      }
    }

    .dropDown {
      .submenu {
        display: none;
      }
    }

    &.is-open {
      opacity: 1;
      background: #9b9b9b;
    }
  }

  .rightBox {
    .languageBox {
      .languageCurrent {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}