.outerWrap {

  padding-top: 120px;

}

.main {
  min-height: 100vh;
}

.homeHero {
  position: relative;

  .homeHero-inner {
    position: relative;
    padding-inline: clamp(8px, 2vw, 50px);
  }

  .squareAni {
    display: block;

    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    width: 100%;
    height: 100dvw;
    max-height: 1500px;
    background-color: #dddddc;

    mask-image: url(../images/decoMask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: left top;

    overflow: hidden;
    z-index: -1;
  }

  .heroCarouselBox {
    position: relative;

    .heroSwiper {
      position: relative;
      overflow: visible;

      .swiper-slide {
        &:hover .img {
          transform: translateY(-50px) scale(1.1);
          z-index: 10;
        }
        .item {
          position: relative;
          cursor: pointer;
          .img {
            margin: 0;
            padding: 0.3125rem;
            padding: 0.5rem;
            background-color: #fff;
            border: 2px solid #eee;

            box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15);

            transition: all 0.6s cubic-bezier(0.3, 2.5, 1, 1);
            overflow: hidden;
            pointer-events: none;
            will-change: translate;
            z-index: 1;

            img {
              display: block;
              width: 100%;
              max-width: 100%;
              height: auto;
              backface-visibility: hidden;
              border: 2px solid #eee;
            }
          }
        }
      }
    }

    .swiper-button {
      background-color: #fff;
    }
  }

  .backBox {
    position: relative;
    pointer-events: none;
    margin-top: -100px;
    z-index: 1;
  }
}