<div class="goTopBox">
  <button class="goTop" type="button" aria-label="Go to top">
    <img src="../assets/images/top.png" alt="goTop">
  </button>
</div>
<footer class="footer-inner">
  <div class="leftBox">
    <div class="socialLinkBox">
      <!--socialBox end-->
      <nav class="socialBox">
        <div class="socialList">
          <a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
      </nav>
      <!--socialBox end-->
      <a class="contactLink" href="">聯絡我們</a>
      <a class="contactLink" href="" target="_blank">MAP</a>
    </div>
    <nav class="footerMenuBox">
      <!--footerMenuBox-->
      <ul class="footerMenu">
        <li class="menuItem">
          <span><a class="mainLink" href="#">關於我們</a></span>
        </li>
        <li class="menuItem ">
          <span><a class="mainLink" href="#">策劃日誌</a></span>
        </li>
        <li class="menuItem ">
          <span><a class="mainLink" href="#">關於團隊</a></span>
        </li>
        <li class="menuItem ">
          <span><a class="mainLink" href="#">最新消息</a></span>
        </li>
      </ul><!--menu end-->
    </nav>
  </div>
  <!-- right -->
  <div class="rightBox">
    <div class="footerLogo">
      <a href="">
        <img src="../assets/images/logo-footer.svg" alt="樂誌藝術工作坊">
      </a>
    </div>

    <!--contactInfo-->
    <address class="side_contactInfo">
      <ul class="infoList">
        <li class="tel">
          <span class="title">T+</span>
          <a href="tel:02-28081958" target="_blank">02-28081958</a>
        </li>
        <li class="fax">
          <span class="title">F+</span>
          <span>02-28081979</span>
        </li>
        <li class="mail">
          <a href="" target="_blank">lewillartstudio@gmail.com</a>
        </li>
      </ul>
    </address>
    <!--contactInfo end-->
  </div>
</footer>
