<footer class="footer-inner">
  <div class="leftBox">
    <div class="socialLinkBox">
      <!--socialBox end-->
      <nav class="socialBox">
        <div class="socialList">
          <a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
      </nav>
      <!--socialBox end-->
      <a class="contactLink" href="">聯絡我們</a>
      <a class="contactLink" href="" target="_blank">MAP</a>
    </div>
    <nav class="footerMenuBox">
      <!--footerMenuBox-->
      <ul class="footerMenu">
        <li class="menuItem">
          <span><a class="mainLink" href="#">關於我們</a></span>
        </li>
        <li class="menuItem ">
          <span><a class="mainLink" href="#">策劃日誌</a></span>
        </li>
        <li class="menuItem ">
          <span><a class="mainLink" href="#">關於團隊</a></span>
        </li>
        <li class="menuItem ">
          <span><a class="mainLink" href="#">最新消息</a></span>
        </li>
      </ul><!--menu end-->
    </nav>
  </div>
  <div class="rightBox"></div>
</footer>