.outerWrap {
  overflow-x: hidden;
  padding-top: 100px;
}

.main {
  min-height: 100vh;
}

.homeHero {
  position: relative;
}
.homeHero .homeHero-inner {
  position: relative;
  padding-inline: clamp(8px, 4vw, 50px);
}
.homeHero .squareAni {
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100dvw;
  max-height: 1500px;
  background-color: #edeceb;
  mask-image: url(../images/decoMask.png);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: left top;
  overflow: hidden;
  z-index: -1;
}
.homeHero .squareAni .right,
.homeHero .squareAni .left {
  color: #e0e0df;
  position: absolute;
  will-change: transform;
}
.homeHero .squareAni .left {
  width: 831px;
  height: 1495px;
  aspect-ratio: 1/1.8;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -35%;
  left: -20%;
  transform-origin: left center;
}
.homeHero .squareAni .right {
  width: 585px;
  aspect-ratio: 1/1.5;
  position: absolute;
  top: auto;
  right: -10%;
  bottom: -40px;
  left: auto;
  transform-origin: right center;
}
@media (max-width: 991px) {
  .homeHero .squareAni {
    top: 20px;
    height: 160dvw;
  }
}
.homeHero .heroCarouselBox {
  position: relative;
}
.homeHero .heroCarouselBox .homeHeroSwiper {
  position: relative;
  overflow: visible;
  translate: 0 40px;
  width: clamp(280px, 100%, 360px);
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide {
  position: relative;
  transform: scale(0.5);
  transition: all 0.6s ease-in;
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide .item {
  position: relative;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.3, 2.5, 1, 1);
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide .item .img {
  position: relative;
  margin: 0;
  width: 100%;
  padding: clamp(0.3rem, 0.4vw, 0.5rem);
  background-color: #fff;
  border: 2px solid #eee;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.3, 2.5, 1, 1);
  overflow: hidden;
  pointer-events: none;
  will-change: translate;
  z-index: 1;
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide .item .img img {
  display: block;
  width: 100%;
  backface-visibility: hidden;
  border: 2px solid #eee;
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide-active {
  transform: scale(1);
  transition: all 0.4s ease-in 0.8s;
}
@media (max-width: 979px) {
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide-active .item {
    animation: pop 0.6s ease 0.6s forwards;
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 980px) {
  .homeHero .heroCarouselBox .homeHeroSwiper {
    translate: 0 160px;
    width: 100%;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide {
    width: 16.6666666667%;
    margin: 0px;
    z-index: 1;
    opacity: 0;
    transform: translate(200px, 400px) scale(0.5);
    animation: slideIn 0.5s ease-in forwards;
    --end-x: 0px;
    --end-y: 0px;
    --end-scale: 0.4;
    --rotate: 0deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide .img {
    rotate: var(--rotate);
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:hover {
    z-index: 10;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:hover .item {
    transform: translateY(-50px);
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:hover .img {
    transform: scale(1.1);
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide-active {
    transition: none;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(1) {
    animation-delay: 0.15s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(2) {
    animation-delay: 0.3s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(3) {
    animation-delay: 0.45s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(4) {
    animation-delay: 0.6s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(5) {
    animation-delay: 0.75s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(6) {
    animation-delay: 0.9s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(1) {
    --end-x: 20px;
    --end-y: -10px;
    --end-scale: 0.9;
    --rotate: -27deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(2) {
    --end-x: 0px;
    --end-y: -40px;
    --end-scale: 1.2;
    --rotate: -6deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(3) {
    --end-x: -20px;
    --end-y: 0px;
    --end-scale: 1.2;
    --rotate: -3deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(4) {
    --end-x: 0px;
    --end-y: -80px;
    --end-scale: 1.45;
    --rotate: 13deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(5) {
    --end-x: 0px;
    --end-y: 50px;
    --end-scale: 1.2;
    --rotate: -4deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(6) {
    --end-x: 0px;
    --end-y: -10px;
    --end-scale: 1;
    --rotate: 6deg;
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translate(200px, 400px) scale(0.4);
    }
    70% {
      opacity: 1;
      transform: translate(var(--end-x), calc(var(--end-y) - 30px)) scale(var(--end-scale));
    }
    100% {
      opacity: 1;
      transform: translate(var(--end-x), var(--end-y)) scale(var(--end-scale));
    }
  }
  .homeHero .heroCarouselBox .swiper-button {
    display: none;
  }
}
.homeHero .heroCarouselBox .swiper-button {
  position: absolute;
  right: 0;
  bottom: -40px;
}
@media (max-width: 600px) {
  .homeHero .heroCarouselBox .swiper-button {
    right: calc(50% - 45px);
    bottom: -140px;
  }
}
.homeHero .heroCarouselBox .swiper-button svg {
  color: #c9c9c9;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #c9c9c9;
}
.homeHero .heroCarouselBox .homeHeroSwiperPrev {
  margin-right: 50px;
}
.homeHero .backBox {
  position: relative;
  pointer-events: none;
  margin-top: 40px;
  z-index: -1;
}
.homeHero .backBox .img {
  margin: 0;
}
.homeHero .backBox img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  backface-visibility: hidden;
}
@media (min-width: 980px) {
  .homeHero .backBox {
    transform: scale(0);
    opacity: 0;
    animation: bb 0.6s ease 1s forwards;
  }
}
@media (max-width: 600px) {
  .homeHero .backBox {
    margin-top: 120px;
  }
}
@keyframes bb {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.homeCarousel {
  position: relative;
  padding: 50px 0 160px;
  margin-top: -1px;
}
.homeCarousel .homeCarousel-inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 50px;
}
.homeCarousel .introBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
}
.homeCarousel .introBox .titleBox .title {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3;
  color: #333333;
}
.homeCarousel .dataBox {
  border: 1px solid;
}

/*# sourceMappingURL=index.css.map */
