:root {
  --mainColor: $text-color;
  --secondColor: $bg-yellow;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  background: #f0f0f0;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

.btn {
  background-color: #333333;
  border: 1px solid #333333;
  color: #fff;
  max-width: 330px;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-color: #fff;
  color: #333;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
  z-index: 100;
}
.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-top: 16px;
  gap: 0 32px;
  transition: all 0.5s ease-in-out;
}
.header .logo {
  width: 300px;
  transition: all 0.5s ease-in-out;
}
.header .menuBox {
  position: relative;
  display: block;
  flex: 1 1 auto;
}
.header .menuBox .menu-inner {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}
.header .menuBox .menu-inner .menuItem {
  position: relative;
  display: block;
  width: 20%;
  height: 100%;
  opacity: 0;
  transform: translate(0, -100%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.header .menuBox .menu-inner .menuItem .mainLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.68px;
  line-height: 1;
  color: #333333;
  text-align: center;
  padding: 30px 0;
  transition: all 0.5s ease-in-out;
}
.header .menuBox .menu-inner .menuItem .mainLink::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background-color: #eacf5b;
  transition: all 0.5s ease-in-out;
}
.header .menuBox .menu-inner .menuItem:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  height: 60%;
  width: 1px;
  transform: translate(0, -50%);
  background: #dddddd;
}
@media (min-width: 1180px) {
  .header .menuBox .menu-inner .menuItem:hover .mainLink {
    color: #eacf5b;
  }
  .header .menuBox .menu-inner .menuItem:hover .mainLink::after {
    width: 100%;
  }
}
.header .menuBox .dropDown .submenu {
  display: none;
}
.header .menuBox.is-open {
  opacity: 1;
  background: #9b9b9b;
}
.header .rightBox {
  display: flex;
}
.header .rightBox .languageBox {
  font-size: 14px;
}
.header .rightBox .languageBox .languageCurrent {
  position: relative;
  width: 70px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  background-color: #eacf5b;
  letter-spacing: 0.1px;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
  pointer-events: none;
}
@media (min-width: 1180px) {
  .header .rightBox .languageBox .languageCurrent:hover {
    color: #fff;
    background-color: #333333;
  }
}
.header .rightBox .slideMenuTrigger {
  display: none;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 77px;
  flex-shrink: 0;
  background-color: #eacf5b;
  cursor: pointer;
}
.header .rightBox .open {
  animation: slideDownAnimation 0.4s ease-in-out 0.5s both;
}
@media (max-width: 1366px) {
  .header .header-inner {
    padding-left: 30px;
    padding-block: 0px;
    gap: 0 20px;
  }
  .header .logo {
    width: 230px;
  }
}
@media (max-width: 1180px) {
  .header .header-inner {
    padding-left: 30px;
    padding-block: 0px;
  }
  .header .logo {
    width: 230px;
  }
  .header .menuBox {
    display: none;
  }
  .header .rightBox .languageBox {
    animation: slideDownAnimation 0.4s ease-in-out 0.4s both;
  }
  .header .rightBox .languageBox .languageCurrent {
    pointer-events: auto;
    opacity: 1;
    background-color: transparent;
  }
  .header .rightBox .slideMenuTrigger {
    display: flex;
  }
  .header .rightBox .slideMenuTrigger .icon {
    width: 32px;
    height: 32px;
    color: #333333;
  }
}
@keyframes slideDownAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

header.is-scrolled {
  background-color: #fff;
}
header.is-scrolled .header-inner {
  padding-left: 30px;
  padding-block: 0px;
}
header.is-scrolled .logo {
  width: 230px;
}
header.is-scrolled .menuBox .menu-inner .menuItem {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: auto;
}
header.is-scrolled .menuBox .menu-inner .menuItem:nth-child(1) {
  transition-delay: 0.3s;
}
header.is-scrolled .menuBox .menu-inner .menuItem:nth-child(2) {
  transition-delay: 0.4s;
}
header.is-scrolled .menuBox .menu-inner .menuItem:nth-child(3) {
  transition-delay: 0.5s;
}
header.is-scrolled .menuBox .menu-inner .menuItem:nth-child(4) {
  transition-delay: 0.6s;
}
header.is-scrolled .menuBox .menu-inner .menuItem:nth-child(5) {
  transition-delay: 0.7s;
}
header.is-scrolled .menuBox .dropDown .submenu {
  display: none;
}
header.is-scrolled .menuBox.is-open {
  opacity: 1;
  background: #9b9b9b;
}
header.is-scrolled .rightBox .languageBox .languageCurrent {
  pointer-events: auto;
  opacity: 1;
}

.footer {
  position: relative;
  width: 100%;
}
.footer .footer-inner {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 2.25rem;
  max-width: none;
  padding: 40px 70px 50px;
  overflow: clip;
  width: 100%;
  margin: 0 auto;
  background: #e9ca49;
}
@media (max-width: 1180px) {
  .footer .footer-inner {
    padding: 30px 30px 40px;
  }
}
@media (max-width: 768px) {
  .footer .footer-inner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 2.25rem;
  }
}
.footer .leftBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px 0;
  position: relative;
  width: 420px;
}
.footer .leftBox .socialLinkBox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.footer .leftBox .socialLinkBox a {
  cursor: pointer;
}
.footer .leftBox .socialLinkBox a i {
  font-size: 28px;
}
.footer .leftBox .socialLinkBox .socialBox a {
  transition: all 0.5s ease-in-out;
  display: block;
  position: relative;
  color: #333333;
}
@media (hover: hover) {
  .footer .leftBox .socialLinkBox .socialBox a:hover {
    color: #fff;
  }
}
.footer .leftBox .socialLinkBox .contactLink {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: #fff;
  background-color: #333333;
  padding: 0.375rem 1.875rem;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
@media (hover: hover) {
  .footer .leftBox .socialLinkBox .contactLink:hover {
    color: #333;
    background-color: #fff;
  }
}
.footer .leftBox .footerMenuBox .footerMenu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.875rem;
}
@media (max-width: 1180px) {
  .footer .leftBox {
    width: 380px;
  }
}
@media (max-width: 768px) {
  .footer .leftBox {
    align-items: center;
  }
  .footer .leftBox .footerMenuBox {
    display: none;
  }
}
.footer .rightBox {
  position: relative;
  width: 280px;
}
.footer .rightBox .footerLogo a {
  display: block;
  width: 155px;
  margin-left: auto;
}
@media (max-width: 1180px) {
  .footer .rightBox .footerLogo a {
    width: 130px;
  }
}
.footer .rightBox .footerLogo a img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.footer .rightBox .side_contactInfo {
  margin-top: 2.25rem;
}
.footer .rightBox .side_contactInfo .infoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px 10px;
  font-size: 16px;
}
.footer .rightBox .side_contactInfo .infoList li {
  position: relative;
  flex: 0 0 calc(50% - 5px);
}
.footer .rightBox .side_contactInfo .infoList li span,
.footer .rightBox .side_contactInfo .infoList li a {
  position: relative;
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.68px;
  line-height: 1.5;
  color: #333333;
  white-space: normal;
}
.footer .rightBox .side_contactInfo .infoList .mail {
  text-align: right;
  flex: 0 0 100%;
}
@media (max-width: 768px) {
  .footer .rightBox .footerLogo a {
    margin: 0 auto;
  }
  .footer .rightBox .side_contactInfo .infoList {
    justify-content: center;
  }
  .footer .rightBox .side_contactInfo .infoList .mail {
    text-align: center;
  }
}
.footer .goTopBox {
  width: 200px;
  height: 135px;
  position: absolute;
  top: 4px;
  right: 70px;
  left: auto;
  z-index: 1;
  translate: 0 -100%;
  transform-origin: bottom;
}
.footer .goTopBox:hover {
  animation: goTopAni 0.3s ease-in-out forwards;
}
.footer .goTopBox .goTop {
  position: relative;
  display: block;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.footer .goTopBox .goTop img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  backface-visibility: hidden;
  overflow: clip;
}
@keyframes goTopAni {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@media (max-width: 1280px) {
  .footer .goTopBox {
    width: 150px;
    height: 100px;
    right: 30px;
  }
}
@media (max-width: 768px) {
  .footer .goTopBox {
    width: 105px;
    height: 70px;
    right: 50%;
    translate: 50% -100%;
  }
}

.fa-youtube-play:before {
  content: "\f16a";
}

.outerWrap {
  overflow-x: hidden;
  padding-top: 100px;
}

.main {
  min-height: 100vh;
}

.homeHero {
  position: relative;
}
.homeHero .homeHero-inner {
  position: relative;
  padding-inline: clamp(8px, 4vw, 50px);
}
.homeHero .squareAni {
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100dvw;
  max-height: 1500px;
  background-color: #edeceb;
  mask-image: url(../images/decoMask.png);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: left top;
  overflow: hidden;
  z-index: -1;
}
.homeHero .squareAni .right,
.homeHero .squareAni .left {
  color: #e0e0df;
  position: absolute;
  will-change: transform;
  transition: all 0.2s ease;
}
.homeHero .squareAni .left {
  width: 831px;
  height: 1495px;
  aspect-ratio: 1/1.8;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -35%;
  left: -20%;
  transform-origin: left center;
}
.homeHero .squareAni .right {
  width: 585px;
  aspect-ratio: 1/1.5;
  position: absolute;
  top: auto;
  right: -4%;
  bottom: -40px;
  left: auto;
  transform-origin: right center;
}
@media (max-width: 991px) {
  .homeHero .squareAni {
    top: 20px;
    height: 160dvw;
  }
  .homeHero .squareAni .left {
    left: -30%;
    bottom: -20%;
  }
  .homeHero .squareAni .right {
    right: -10%;
    bottom: 140px;
  }
}
@media (max-width: 680px) {
  .homeHero .squareAni .left {
    left: -50%;
    bottom: -60%;
  }
  .homeHero .squareAni .right {
    right: -5%;
    bottom: -160px;
  }
}
.homeHero .heroCarouselBox {
  position: relative;
}
.homeHero .heroCarouselBox .homeHeroSwiper {
  position: relative;
  overflow: visible;
  translate: 0 40px;
  width: clamp(280px, 100%, 360px);
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide {
  position: relative;
  transform: scale(0.5);
  transition: all 0.6s ease-in;
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide .item {
  position: relative;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.3, 2.5, 1, 1);
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide .item .img {
  position: relative;
  margin: 0;
  width: 100%;
  padding: clamp(0.3rem, 0.4vw, 0.5rem);
  background-color: #fff;
  border: 2px solid #eee;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.3, 2.5, 1, 1);
  overflow: hidden;
  pointer-events: none;
  will-change: translate;
  z-index: 1;
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide .item .img img {
  display: block;
  width: 100%;
  backface-visibility: hidden;
  border: 2px solid #eee;
}
.homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide-active {
  transform: scale(1);
  transition: all 0.4s ease-in 0.8s;
}
@media (max-width: 979px) {
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide-active .item {
    animation: pop 0.6s ease 0.6s forwards;
  }
}
@media (min-width: 980px) {
  .homeHero .heroCarouselBox .homeHeroSwiper {
    translate: 0 160px;
    width: 100%;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide {
    width: 16.6666666667%;
    margin: 0px;
    z-index: 1;
    opacity: 0;
    transform: translate(200px, 400px) scale(0.5);
    animation: slideIn 0.5s ease-in forwards;
    --end-x: 0px;
    --end-y: 0px;
    --end-scale: 0.4;
    --rotate: 0deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide .img {
    rotate: var(--rotate);
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:hover {
    z-index: 10;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:hover .item {
    transform: translateY(-50px);
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:hover .img {
    transform: scale(1.1);
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide-active {
    transition: none;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(1) {
    animation-delay: 0.15s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(2) {
    animation-delay: 0.3s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(3) {
    animation-delay: 0.45s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(4) {
    animation-delay: 0.6s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(5) {
    animation-delay: 0.75s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(6) {
    animation-delay: 0.9s;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(1) {
    --end-x: 20px;
    --end-y: -10px;
    --end-scale: 0.9;
    --rotate: -27deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(2) {
    --end-x: 0px;
    --end-y: -40px;
    --end-scale: 1.2;
    --rotate: -6deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(3) {
    --end-x: -20px;
    --end-y: 0px;
    --end-scale: 1.2;
    --rotate: -3deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(4) {
    --end-x: 0px;
    --end-y: -80px;
    --end-scale: 1.45;
    --rotate: 13deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(5) {
    --end-x: 0px;
    --end-y: 50px;
    --end-scale: 1.2;
    --rotate: -4deg;
  }
  .homeHero .heroCarouselBox .homeHeroSwiper .swiper-slide:nth-child(6) {
    --end-x: 0px;
    --end-y: -10px;
    --end-scale: 1;
    --rotate: 6deg;
  }
  .homeHero .heroCarouselBox .swiper-button {
    display: none;
  }
}
.homeHero .heroCarouselBox .swiper-button {
  position: absolute;
  right: 0;
  bottom: -40px;
}
@media (max-width: 600px) {
  .homeHero .heroCarouselBox .swiper-button {
    right: calc(50% - 45px);
    bottom: -140px;
  }
}
.homeHero .heroCarouselBox .swiper-button svg {
  color: #c9c9c9;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #c9c9c9;
}
.homeHero .heroCarouselBox .homeHeroSwiperPrev {
  margin-right: 50px;
}
.homeHero .backBox {
  position: relative;
  pointer-events: none;
  margin-top: 40px;
  z-index: -1;
}
.homeHero .backBox .img {
  margin: 0;
}
.homeHero .backBox img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  backface-visibility: hidden;
}
@media (min-width: 980px) {
  .homeHero .backBox {
    transform: scale(0);
    opacity: 0;
    animation: bb 0.6s ease 1s forwards;
  }
}
@media (max-width: 600px) {
  .homeHero .backBox {
    margin-top: 120px;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(200px, 400px) scale(0.4);
  }
  70% {
    opacity: 1;
    transform: translate(var(--end-x), calc(var(--end-y) - 30px)) scale(var(--end-scale));
  }
  100% {
    opacity: 1;
    transform: translate(var(--end-x), var(--end-y)) scale(var(--end-scale));
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bb {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.homeCarousel {
  position: relative;
  padding: 50px 0 160px;
  margin-top: -1px;
}
.homeCarousel .homeCarousel-inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 50px;
}
.homeCarousel .introBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
}
.homeCarousel .introBox .titleBox .title {
  font-size: clamp(30px, 5vw, 70px);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3;
  color: #333333;
}
.homeCarousel .introBox .titleBox .title .word .char {
  opacity: 0;
}
.homeCarousel .introBox .btn {
  flex: 1 1 auto;
  max-width: 330px;
  margin-bottom: 1rem;
  line-height: 1.3;
  opacity: 0;
  vertical-align: baseline;
}
@media (max-width: 980px) {
  .homeCarousel .introBox .btn {
    display: none;
  }
}
@media (max-width: 1180px) {
  .homeCarousel .introBox .btn {
    max-width: 280px;
  }
}
.homeCarousel .dataBox .homeCarouselSwiper {
  overflow: visible;
}
@media (max-width: 980px) {
  .homeCarousel .dataBox .homeCarouselSwiper {
    opacity: 0;
    transform: translateY(80px);
  }
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide {
  --rotate: 0deg;
  --scale: 1;
  --translateX: 0px;
  --translateY: 0px;
  rotate: var(--rotate);
  scale: var(--scale);
  translate: var(--translateX) var(--translateY);
  cursor: pointer;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card {
  position: relative;
  background-color: rgb(226, 226, 225);
  mask-size: cover;
  mask-repeat: no-repeat;
  padding: 1.75rem;
  mask-image: url(../images/service-mask-1.png);
  transition: all 0.5s ease-in-out;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card::before {
  content: "";
  display: block;
  pointer-events: none;
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  background-image: url(../images/decoGrid.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  translate: -50% -50%;
  background-position: center center;
  z-index: -1;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card .img {
  margin: 0px auto;
  width: clamp(120px, 80%, 300px);
  height: 60%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card .img img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card .txt {
  margin-top: -16px;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card .txt .title,
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card .txt .subtitle {
  font-size: clamp(22px, 4rem, 32px);
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.25;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card .icon {
  position: absolute;
  display: block;
  top: 32px;
  left: 28px;
  width: 40px;
  height: 40px;
  color: rgb(102, 102, 102);
  z-index: 1;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e9ca49;
  z-index: -2;
  width: 0%;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: scaleX(0);
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card:hover:after {
  opacity: 1;
  transform: scaleX(1);
}
@media (max-width: 1180px) {
  .homeCarousel .dataBox .homeCarouselSwiper .swiper-slide .card {
    padding: 1rem 1.25rem 1rem;
  }
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide::before {
  position: absolute;
  content: "";
  top: auto;
  right: -8px;
  bottom: -8px;
  left: auto;
  display: block;
  pointer-events: none;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: transparent;
  border: 2px solid #919191;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.left {
  --rotate: -5deg;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.left .card {
  mask-image: url(../images/service-mask-1.png);
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.center {
  --scale: 1;
  --rotate: -5deg;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.center .card {
  mask-image: url(../images/service-mask-2.png);
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.right {
  --rotate: -5deg;
}
.homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.right .card {
  mask-image: url(../images/service-mask-3.png);
}
@media (min-width: 980px) {
  .homeCarousel .dataBox .homeCarouselSwiper .swiper-slide {
    opacity: 0;
  }
  .homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.left {
    --rotate: -7deg;
  }
  .homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.center {
    --translateY: 20px;
    --translateX: 0px;
    --scale: 1.2;
    --rotate: 3deg;
  }
  .homeCarousel .dataBox .homeCarouselSwiper .swiper-slide.right {
    --rotate: -3deg;
    --translateY: 10px;
    --translateX: -50px;
  }
}
.homeCarousel .dataBox .pagination {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 980px) {
  .homeCarousel .dataBox .pagination {
    opacity: 0;
    transform: translateY(80px);
    animation: UpAniShow ease 0.8s forwards 1.6s;
  }
}
.homeCarousel .dataBox .pagination .swiper-pagination-bullet {
  border-radius: 99px;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
  transition: all 0.4s ease;
  color: #333;
  background: var(--swiper-pagination-bullet-inactive-color, #333);
  opacity: 1;
}
.homeCarousel .dataBox .pagination .swiper-pagination-bullet-active {
  width: 26px;
}
.homeCarousel .underBtn {
  display: none;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
}
@media (max-width: 980px) {
  .homeCarousel .underBtn {
    display: block;
  }
}
.homeCarousel.is-animated .introBox .titleBox .word .char {
  animation: wordShow 0.3s ease-in-out forwards;
  animation-delay: calc(var(--char-index) * 0.14s);
}
.homeCarousel.is-animated .introBox .btn {
  animation: UpAniShow ease 0.8s forwards 2s;
}
@media (max-width: 980px) {
  .homeCarousel.is-animated .dataBox .homeCarouselSwiper {
    animation: UpAniShow ease 0.8s forwards 1.4s;
  }
}
@media (min-width: 980px) {
  .homeCarousel.is-animated .dataBox .homeCarouselSwiper .swiper-slide {
    animation: homeCarouselSlideUp 0.8s ease-in forwards;
  }
  .homeCarousel.is-animated .dataBox .homeCarouselSwiper .swiper-slide.left {
    animation-delay: 2s;
  }
  .homeCarousel.is-animated .dataBox .homeCarouselSwiper .swiper-slide.center {
    animation-delay: 2.4s;
  }
  .homeCarousel.is-animated .dataBox .homeCarouselSwiper .swiper-slide.right {
    animation-delay: 2.8s;
  }
}
.homeCarousel.is-animated .underBtn {
  animation: UpAniShow ease 0.8s forwards 2s;
}
@keyframes homeCarouselSlideUp {
  0% {
    opacity: 0;
    rotate: 0deg;
    translate: var(--translateX) calc(var(--translateY) + 160px);
  }
  60% {
    opacity: 1;
    translate: var(--translateX) var(--translateY);
  }
  100% {
    opacity: 1;
    rotate: var(--rotate);
    translate: var(--translateX) var(--translateY);
  }
}
@keyframes wordShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes UpAniShow {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
