:root {
  --mainColor: $text-color;
  --secondColor: $bg-yellow;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #222;
  background: #f0f0f0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
}
.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-top: 16px;
  gap: 0 32px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1366px) {
  .header .header-inner {
    gap: 0 20px;
  }
}
.header .logo {
  width: 300px;
  transition: all 0.5s ease-in-out;
}
.header .menuBox {
  position: relative;
  display: block;
  flex: 1 1 auto;
}
.header .menuBox .menu-inner {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}
.header .menuBox .menu-inner .menuItem {
  position: relative;
  display: block;
  width: 20%;
  height: 100%;
  opacity: 0;
  transform: translate(0, -100%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.header .menuBox .menu-inner .menuItem .mainLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.68px;
  line-height: 1;
  color: #333333;
  text-align: center;
  padding: 30px 0;
  transition: all 0.5s ease-in-out;
}
.header .menuBox .menu-inner .menuItem .mainLink::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background-color: #eacf5b;
  transition: all 0.5s ease-in-out;
}
.header .menuBox .menu-inner .menuItem:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  height: 60%;
  width: 1px;
  transform: translate(0, -50%);
  background: #dddddd;
}
@media (min-width: 1180px) {
  .header .menuBox .menu-inner .menuItem:hover .mainLink {
    color: #eacf5b;
  }
  .header .menuBox .menu-inner .menuItem:hover .mainLink::after {
    width: 100%;
  }
}
.header .menuBox .dropDown .submenu {
  display: none;
}
.header .menuBox.is-open {
  opacity: 1;
  background: #9b9b9b;
}
.header .rightBox .languageBox {
  font-size: 14px;
}
.header .rightBox .languageBox .languageCurrent {
  position: relative;
  width: 70px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  background-color: #eacf5b;
  letter-spacing: 0.1px;
  transition: all 0.5s;
}
.header .rightBox .slideMenuTrigger {
  display: none;
}
.header.is-scrolled {
  background-color: #fff;
}
.header.is-scrolled .header-inner {
  padding-left: 30px;
  padding-block: 0px;
}
.header.is-scrolled .logo {
  width: 230px;
}
.header.is-scrolled .menuBox {
  position: relative;
  display: block;
  flex: 1 1 auto;
}
.header.is-scrolled .menuBox .menu-inner {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}
.header.is-scrolled .menuBox .menu-inner .menuItem {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: auto;
}
.header.is-scrolled .menuBox .menu-inner .menuItem .mainLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.68px;
  line-height: 1;
  color: #333333;
  text-align: center;
  padding: 30px 0;
  transition: all 0.5s ease-in-out;
}
.header.is-scrolled .menuBox .menu-inner .menuItem .mainLink::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background-color: #eacf5b;
  transition: all 0.5s ease-in-out;
}
.header.is-scrolled .menuBox .menu-inner .menuItem:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  height: 60%;
  width: 1px;
  transform: translate(0, -50%);
  background: #dddddd;
}
@media (min-width: 1180px) {
  .header.is-scrolled .menuBox .menu-inner .menuItem:hover .mainLink {
    color: #eacf5b;
  }
  .header.is-scrolled .menuBox .menu-inner .menuItem:hover .mainLink::after {
    width: 100%;
  }
}
.header.is-scrolled .menuBox .dropDown .submenu {
  display: none;
}
.header.is-scrolled .menuBox.is-open {
  opacity: 1;
  background: #9b9b9b;
}
.header.is-scrolled .rightBox .languageBox {
  font-size: 14px;
}
.header.is-scrolled .rightBox .languageBox .languageCurrent {
  position: relative;
  width: 70px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  background-color: #eacf5b;
  letter-spacing: 0.1px;
  transition: all 0.5s;
}
.header.is-scrolled .rightBox .slideMenuTrigger {
  display: none;
}

.outerWrap {
  padding-top: 120px;
}

.main {
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
